@using Seckim.NFTMarketplace.App.Application.Model
@rendermode InteractiveWebAssembly

@inject IJSRuntime JS

<RadzenProfileMenu Style="border:none">
  <Template>
    @if (WalletStateProvider.WalletState == Application.Enums.WalletState.Connecting)
    {
      <div>🟡 Connecting ...</div>
    }
    else if (WalletStateProvider.WalletState == Application.Enums.WalletState.Connected)
    {
      <div>🟢 Wallet</div>
    }
    else
    {
      <div title="Click to connect to wallet" @onclick="ConnectWallet" style="cursor:pointer">🔴 Not connected</div>
    }
  </Template>
  <ChildContent>
    <RadzenProfileMenuItem Text="@(Application.Helpers.StringHelpers.ShortenAddress(Account?.Account))" 
                           Icon="account_circle" title="@Account?.Account"
    ></RadzenProfileMenuItem>
    <RadzenProfileMenuItem Text="@($"{Account?.Balance ?? "0.00"} ETH" )" 
                           Icon="account_balance_wallet"
    ></RadzenProfileMenuItem>
  </ChildContent>
</RadzenProfileMenu>
