@inherits LayoutComponentBase

<RadzenComponents/>

<Progress />
<RadzenLayout>
  <RadzenHeader>
    <Navbar />
  </RadzenHeader>
  <RadzenBody>
    <div class="rz-p-4">
      @Body
    </div>
  </RadzenBody>
  <RadzenFooter class="rz-p-1">
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" class="rz-m-0">
      <RadzenText class="rz-m-0">© 2024 Seckim</RadzenText>
    </RadzenStack>
    
  </RadzenFooter>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
