<div class="rz-p-5 rz-pr-5">
<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Gap="0">
    <Logo />
    <MarketplaceTicker />
  <Menu />
</RadzenStack>
</div>