<div class="rz-p-2  rz-my-0">
<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Gap="0">
    <Logo />
    <MarketplaceTicker />
  <Menu />
</RadzenStack>
</div>